html {
    background: rgb(57, 150, 212);
}

.background-gradient {
    background: rgb(57, 150, 212);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), rgb(109, 214, 250), rgb(57, 150, 212));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(109, 214, 250), rgb(57, 150, 212)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav > a > img {
    width: 1.5rem !important;
    height: 1.5rem !important;
}