html {
    background: rgb(75, 175, 225);
}

.background-gradient {
    background: rgb(55, 150, 210);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), rgb(105, 215, 250), rgb(75, 175, 225));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(105, 215, 250), rgb(75, 175, 225)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav > a > img {
    width: 1.875rem !important;
    height: 1.875rem !important;
}

ul.portfolio-list {
    list-style-type: none;
    font-size: 1.25rem !important;
}

ul.portfolio-list > li::before {
    content: '';
    display: inline-block;
    line-height: 1.25rem !important;
    height: 1.25rem !important;
    width: 1.25rem !important;
    background-image: url('../images/list-style-code.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-left: 1.70rem !important;
}

.less-bold {
    font-weight: 600 !important;
}

.endorsement-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(105, 215, 250);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(105, 215, 250), rgb(0, 114, 177));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(105, 215, 250), rgb(0, 114, 177)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgb(0, 114, 177);
    white-space: nowrap !important;
}

hr {
    height: 2px !important;
}